  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <div class="offcanvas hidden animate__animated" id="offcanvas">
    <div class="button-container-end">
      <i class="far fa-window-close fa-2x" id="offcanvas-close"></i>
    </div>

    <div class="logo-container">
      <a href="/">
        <img src="/assets/logos/deep-sky-logo-2-photoshop 300dpi.png" alt="Deep Sky Logo" class="deep-sky-logo">
      </a>
    <h2>Deep Sky</h2>
    <p>The universe has secrets. So do you.</p>
    </div>
      <% if (user) { %>
      <nav class="signed-in">
        <a href="/">Home</a>
        <a href="/passwords">Passwords</a>
        <a href="/companies">Companies</a>
        <a href="/auth/logout">
          Logout
        </a>
      </nav>
      <% } else { %>
      <nav class="signed-out">
        <div class="button-container">
          <a href="/auth/google" class="siwg-link">
            <button type="submit" class="siwg">
              <img id="siwg-image" alt="Sign in with Google" />
            </button>
          </a>
        </div>
      </nav>
      <% } %>
  </div>
  <i class="fas fa-bars" id="offcanvas-open"></i>