html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%;
    --black: #000000;
    --gray: #1a1a1a;
    --flame: #cf5c36;
    --lavender-blush: #eee5e9;
    --gray-web: #7c7c7c;
    --gold-crayola: #efc88b;
    --rich-black-fogra-29: #161925;
    --prussian-blue: #23395b;
    --queen-blue: #406e8e;
    --cadet-grey: #8ea8c3;
    --light-cyan: #cbf7ed;

    --saffron: #e3b505;
    --dark-red: #95190c;
    --tyrian-purple: #610345;
    --teal: #107e7d;
    --yale-blue: #044b7f;

    --color-hunt-purple1: #6F0765;
    --color-hunt-purple2:#4C0045;
    --color-hunt-orange:#BD512F;
    --color-hunt-yellowgold:#FFB228;
}

body {
  background: linear-gradient(var(--black), var(--prussian-blue), var(--yale-blue)) no-repeat;
  background-color: var( --yale-blue);
  background-size: cover;
  height: 100vmin;
  color: var(--lavender-blush);
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0px;
  position: relative;
}

.header {
  height: 85px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed {
  position: fixed;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

.intro {
  height: 370px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.no-data {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offcanvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  z-index: 100;
  background: var(--gray);
}

/* .open {
  transition: all 0.5s ease;
} */

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container * {
  margin: 5px;
}

.deep-sky-logo {
  height: 100px;
  width: 100px;
}

.signed-in {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 2.4rem;
  z-index: 500;
}


.signed-in a {
  color: var(--lavender-blush);
  margin: 20px 0px 0px 20px;
  text-decoration: none;
}

.signed-in a:hover {
  color: var(--cadet-grey);
}

.hidden {
  margin: 0 0 0 -300px;
  /* transition: all 0.5s ease; */
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.button-container-end {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

button {
  height: calc(25px * 1.6);
  width: calc(50px * 1.8);
  margin: calc(10px * 1.2);
  border: none;
  background-color: var(--tyrian-purple);
  color: var(--lavender-blush);
  border-radius: 5px;
  font-size: 1.2rem;
}

button:hover {
  background-color: var(--black);
  color: var(--lavender-blush);
  cursor: pointer;
}

#offcanvas-open {
  font-size: 2.4rem;
  color: var(--lavender-blush);
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1;
}

#offcanvas-open:hover {
  cursor: pointer;
  color: var(--flame)
}

#offcanvas-close {
  margin: 10px;
}

#offcanvas-close:hover {
  cursor: pointer;
  color: var(--flame)
}

#avatar {
  border-radius: 50%;
}

.error-container {
  position: absolute;
  z-index: 1000;
  height: 150px;
  width: 250px;
  background-color: var(--lavender-blush);
  color: var(--dark-red);
  font-size: 2rem;
  font-weight: 500;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#close-error-div-btn {
  cursor: pointer;
  padding: 10px;
}