html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%;
    --black: #000000;
    --flame: #cf5c36;
    --lavender-blush: #eee5e9;
    --gray-web: #7c7c7c;
    --gold-crayola: #efc88b;
    --rich-black-fogra-29: #161925;
    --prussian-blue: #23395b;
    --queen-blue: #406e8e;
    --cadet-grey: #8ea8c3;
    --light-cyan: #cbf7ed;


    --saffron: #e3b505;
    --dark-red: #95190c;
    --tyrian-purple: #610345;
    --teal: #107e7d;
    --yale-blue: #044b7f;
}

body {
  background-color: var(--black);
  color: var(--lavender-blush);
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  position: relative;
  background-image: url('../assets/deep-sky-logo-2-photoshop\ 300dpi.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  height: 85px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed {
  position: fixed;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
}

.offcanvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  z-index: 100;
  background-color: var(--tyrian-purple);
}

.open {
  transition: all 1s ease;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container * {
  margin: 5px;
}

.deep-sky-logo {
  height: 100px;
  width: 100px;
}

.signed-in {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 2.4rem;
  z-index: 500;
}


.signed-in a {
  color: var(--lavender-blush);
  margin: 20px 0px 0px 20px;
  text-decoration: none;
}

.signed-in a:hover {
  color: var(--cadet-grey);
}

.hidden {
  margin: 0 0 0 -300px;
  transition: all 1s ease;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.button-container-end {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#offcanvas-toggle {
  font-size: 2.4rem;
  color: var(--lavender-blush);
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1;
}

#offcanvas-toggle:hover {
  cursor: pointer;
  color: var(--flame)
}

#offcanvas-close {
  margin: 10px;
}

#offcanvas-close:hover {
  cursor: pointer;
  color: var(--flame)
}

#avatar {
  border-radius: 50%;
}