<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/companies/new.css">
<%- include('../partials/nav') %>

<div class="header">
    <h1>Add company</h1>
</div>

<section id="add-company-section">
    <form action="/companies" method="POST" id="add-company-form">
        <label for="company-name-input">Name</label>
        <input type="text" name="name" id="company-name-input" autocomplete="off" required>
    
        <label for="company-website-input">Website</label>
        <input type="text" name="website" id="company-website-input" autocomplete="off">
        
        <label for="company-description-textarea">Description</label>
        <textarea name="description" id="company-description-textarea" wrap="soft" autocomplete="off"></textarea>

        <button type="submit">Save</button>
    </form>
</section>

<%- include('../partials/footer') %>