section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lavender-blush);
    color: var(--tyrian-purple);
    height: 100px;
    width: 300px;
    border: none;
    border-radius: 5px;
    font-size: 1.7rem;
    margin: 10px;
}

.card:hover {
    background-color: var(--tyrian-purple);
    color: var(--cadet-grey);
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
    
}